@use 'variables'

*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: variables.$secondaryFont

body
    background-color: variables.$backgroundColor
    -webkit-font-smoothing: antialiased

html
    scroll-behavior: smooth

.App
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

.container
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 0px 20%
