$backgroundColor: #0a192f
$primaryFontColor: #e8edff
$secondaryColor: #734bd1
$tertiaryColor: #d6d6d6
$iconColor: #5b7baa
$primaryFont: 'Signika', sans-serif
$secondaryFont: 'Gudea', sans-serif
$tertiaryFont: 'Source Code Pro', monospace